header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
header nav {
    margin-right: 10px;
}
header nav li {
    display: inline-block;
    list-style-type: none;
    padding: 25px 5px 0;
}
